body {
    background-color:#FFFFF0;
    /* used to be #EEEEEE; */
    color: black;
    font-family:Arial,Helvetica,"Nimbus Sans",sans-serif;
    margin: 0;
}

div.head {
    background-color:#DDDDDD;
    border-bottom: 1px solid black;
    font-size: 200%;
    font-size: xx-large;
    width: auto;
    padding: 0.3em;
}

div.head div {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.navcompact {
    font-size: small;
}

/*
 * Thorsten Gunkel suggested using @media all
 * to hide some instructions from ancient browsers
 * <20040319002814.GB2006@tgunkel.myfqdn.de>, 2004-03-19
 */
@media all
{
/* only visible in non-CSS browsers */
.invisible {
    display: none;
}

div.nav {
    height: 100%;
    float: right;
    border-left:  1px solid black;
    border-bottom: 1px solid black;
    line-height: 130%;
    text-align: right;
    width: 8.5em;
    padding: 0.5em;
    clear: none;
    z-index: 5;
    background-color: white;
    margin-left: 0.5em;
}

div.content {
    padding: 0.5em;
    padding-top: 0;
}

div.content p {
    text-align: justify;
}

div ul {
    text-align: left;
}

}
